/* Font Setting starts from here*/

/* ######### Azeret Mono ######## */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Reset */
*,
body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* border: 2px solid red; */
}

/* Font Setting ends here */

/* ############ Hero Section Style Starts from here ########### */
.hero-section {
  background: url("assets/hero-bg.png");
  width: 1440px;
  height: 652px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 74px;
}
.hero-section .hero-section-content-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 998px;
  height: 652px;
  margin: 26px 221px 44px 221px;
}

/* group image style starts from here */
.hero-section .hero-section-content-box .hero-section-image {
  width: 240.28px;
  height: 240px;
  margin-top: 26px;
}
/* group image style ends from here */

/* group h1 style starts from here */

.hero-section .hero-section-content-box h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  letter-spacing: 0%;
  text-align: center;
  width: 998px;
  height: 136px;
  margin-bottom: 24px;
}
/* group h1 style ends from here */

/* group p style starts from here */
.hero-section .hero-section-content-box p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  width: 852px;
  height: 52px;
  margin-bottom: 32px;
}
/* group p style ends from here */

/* group button style starts from here */
.hero-section .hero-section-content-box button {
  border-radius: 8px;
  background: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
  margin-bottom: 44px;
}
.hero-section .hero-section-content-box button a {
  align-items: center;
  padding: 21px 24px 21px 24px;
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration: none;
}
/* group button style ends from here */

/* ############ Hero Section Style Starts from here ########### */

/*  ########### Second Section Start from Here ############## */
.second-section {
  width: 1140px;
  height: 1395px;
  margin: 0 auto;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);
  padding: 80px 97px;
}

.second-section .second-section-text {
  width: 852px;
  height: 115px;
  margin: 80px auto;
}
.second-section .second-section-text h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.second-section .second-section-text p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin: 48px;
}
.second-section .second-section-box {
  width: 850px;
  height: 240px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 99px;
  padding: 48px;
  margin-bottom: 80px;
}

.second-section .second-section-box .second-section-box-left {
  width: 477px;
  height: 220px;
  margin-bottom: 32px;
}

.second-section .second-section-box .second-section-box-right {
  width: 274px;
  height: 240px;
}
.second-section .second-section-box .second-section-box-left h1,
.second-section .second-section-box .second-section-box-right h1 {
  color: rgba(13, 19, 33, 0.7);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.second-section .second-section-box .second-section-box-left p,
.second-section .second-section-box .second-section-box-right p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
  margin-bottom: 32px;
}

.second-section .second-section-box .second-section-box-left span,
.second-section .second-section-box .second-section-box-right span {
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  margin: 32px 0px;
  width: 171px;
  height: 47px;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}
.second-section .second-section-box .second-section-box-left span a,
.second-section .second-section-box .second-section-box-right span a {
  text-decoration: none;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 12px 20px 12px 20px;
}

/*  ########### Second Section Ends from Here ############## */

/* ################ My Insperation Styles start from Here ################# */
.my-insperation {
  height: 777px;
  width: 1140px;
  margin: 0 auto;
  margin-bottom: 149px;

  background: rgb(255, 255, 255);
}
.my-insperation .my-insperation-text {
  width: 852px;
  height: 115px;
  margin: 0 auto;
  margin-bottom: 48px;
}
.my-insperation .my-insperation-text h1 {
  width: 852px;
  height: 39px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.my-insperation .my-insperation-text p {
  color: rgb(13, 19, 33);
  width: 852px;
  height: 52px;
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.my-insperation .my-insperation-video {
  width: 1140px;
  height: 614px;
  box-sizing: border-box;
  border-radius: 16px;
}
.my-insperation .my-insperation-video video {
  margin: 32px;
  width: 1076px;
  height: 550px;
  border-radius: 16px;
}

/* ################ My Insperation Styles start end Here ################# */

/* ########## My Current Target Section Started Here 3######################## */
.my-currect-target-box {
  width: 1140px;
  height: 462px;

  margin: 0 auto;
  margin-bottom: 111px;
}
.my-currect-target-box .my-cueecnt-target-text-box {
  height: 115px;
  width: 852px;

  margin: 0 auto;
  margin-bottom: 48px;
}
.my-currect-target-box .my-cueecnt-target-text-box h1 {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}
.my-currect-target-box .my-cueecnt-target-text-box p {
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}
.my-currect-target-box .my-cueecnt-target-technology-card-box {
  width: 1140px;
  height: 300px;
}
.my-currect-target-box .my-cueecnt-target-technology-card-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.my-currect-target-box .my-cueecnt-target-technology-card-box .technology-card {
  width: 345px;
  height: 250px;
  margin: 24px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 40px;
}
.my-currect-target-box
  .my-cueecnt-target-technology-card-box
  .technology-card
  img {
  width: 56px;
  height: 56px;
  margin: 10px;
}
.my-currect-target-box
  .my-cueecnt-target-technology-card-box
  .technology-card
  h1 {
  width: 284px;
  height: 36px;
  margin: 8px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
}
.my-currect-target-box
  .my-cueecnt-target-technology-card-box
  .technology-card
  p {
  width: 284px;
  height: 52px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.7;
}
.my-currect-target-box
  .my-cueecnt-target-technology-card-box
  .technology-card
  a {
  width: 284px;
  height: 19px;
  padding: 0px;
  margin: 24px 0px;
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration-line: underline;
}

.my-currect-target-box .my-cueecnt-target-technology-card-box .html-card {
  border-radius: 16px;

  background: rgba(255, 76, 30, 0.05);
}
.my-currect-target-box .my-cueecnt-target-technology-card-box .css-card {
  border-radius: 16px;

  border-radius: 16px;

  background: rgba(0, 76, 232, 0.05);
}
.my-currect-target-box .my-cueecnt-target-technology-card-box .js-card {
  border-radius: 16px;
  background: rgba(255, 223, 0, 0.05);
}

/* ########## My Current Target Section end Here 3######################## */

/* #################### Need Support Style Start from here################# */
.need-support {
  width: 1140px;
  height: 313px;
  border: 2px solid black;
  margin: 0 auto;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 64px 48px 64px 48px;
  border-radius: 16px;
  background-image: linear-gradient(
      0deg,
      rgb(16, 16, 16) -19.5%,
      rgba(16, 16, 16, 0.2) 100%
    ),
    url("../assets/handshake.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.need-support .need-support-box {
  width: 1044px;
  height: 185px;
}

.need-support .need-support-box .need-support-text-box {
  width: 730px;
  height: 104px;

  margin: 0 auto;
}
.need-support .need-support-box .need-support-text-box h1 {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: center;
}
.need-support .need-support-box .need-support-text-box p {
  color: rgb(255, 255, 255);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
}

.need-support .need-support-box .need-support-form-box {
  width: 684px;
  height: 57px;

  margin: 0 auto;
  display: flex;
}
.need-support .need-support-box .need-support-form-box .text-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 19px 20px 19px 20px;
  width: 548px;
  height: 57px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;

  background: rgb(255, 255, 255);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 16px;
}
.need-support .need-support-box .need-support-form-box .submit-btn {
  position: static;
  width: 120px;
  height: 57px;
  display: flex;
  padding: 17px 20px 17px 20px;
  margin: 0px 16px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
}

/* #################### Need Support Style ends from here################# */

/* Footer style start from here */
.footer-section {
  height: 100px;
  width: 1440px;
  display: flex;
  flex-direction: row;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}

.footer-section > .footer-content-box {
  width: 90%;
  height: 36px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 526px;
  margin: 32px 0px;
}
.footer-section .footer-content-box .footer-content-left {
  height: 36px;
  margin-left: 100px;
}
.footer-section .footer-content-box .footer-content-right {
  margin-right: 100px;
}
.footer-section .footer-content-box .footer-content-right .icon {
  height: 36px;
  width: 36px;
  margin-right: 24px;
}
